
<div class="content">
  <div class="cards-container">
    <div class="row">
      <% @flats.each do |flat| %>
      <div class="col-xs-12 col-sm-6 col-md-4 ">
        <%= link_to flat_path(flat) do %>
      <% if flat.photo.file == nil %>
      <div class="card" style="background-image: linear-gradient(rgba(10, 41, 11, 0.32), rgba(5, 23, 6, 0.32)), url('<%= asset_path("jungle_leaves.jpeg") %>')">
        <%  else %>
        <div class="card" style="background-image: linear-gradient(rgba(10, 41, 11, 0.32), rgba(5, 23, 6, 0.32)), url('<%= cl_image_path flat.photo %>')">
          <% end %>
          <div class="card-category">
            <h3><%= flat.name %></h3>
          </div>
          <div class="card-description">
            <h2>$<%=flat.price %> per night</h2>
            <p><%= flat.address %></p>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
     </div>
   </div>
   <br>
   <div id="map" style="width: 100%; height: 900px;" data-markers="<%= @markers.to_json %>"></div>
 </div>
</div>

test





