<!-- <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://a0.muscache.com/im/pictures/15273358/d7329e9a_original.jpg?aki_policy=xx_large');">
</div>
 -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path @flat.photo %>');">
</div>
  <div class="container">
    <div class="row">

      <div class="col-sm-6">
        <h1><%= @flat.name %></h1>
        <h4>Host Name: <%= @flat.user.email %></h4>
        <p>Description: <%= @flat.description %></p>
      </div>

      <div class="col-sm-6">
        <h1></h1>
        <!-- <p><strong>Check-in:</strong> <%#= @booking.start_date %></p>
        <p><strong>Check-out:</strong> <%#= @booking.end_date %></p> -->
        <!-- <p><strong>Days of Reservation:</strong> <%#= (@booking.end_date - @booking.start_date).to_i %></p> -->
        <p><strong>Price per day:</strong> $<%= @flat.price %></p>
        <!-- <p><strong>Reservation Statu:</strong><%#= @booking.status %></p> -->
        <%= link_to "Make a Reservation", new_flat_booking_path(@flat) %>
        <%#= link_to "Cancel Booking", flat_booking_path(@booking.flat, @booking), method: :delete, data: {confirm: "Are you sure?"} %>
        <%= link_to 'Back', flats_path %>
      <%= link_to "Delete", flats_path(@flat),
      method: :delete,
      data: { confirm: "Are you certain?" } %>
      </div>

    </div>



    <h6>###BUTTONS ONLY FOR ADMIN</h6>

    <%#= simple_form_for [@flat, @booking] do |f| %>
    <%#= f.hidden_field :status, value: "Approved" %>
    <%#= f.submit "Approve", class: "btn btn-primary" %>
    <%# end %>

    <%#= simple_form_for [@flat, @booking] do |f| %>
    <%#= f.hidden_field :status, value: "Declined" %>
    <%#= f.submit "Decline", class: "btn btn-danger" %>
    <%# end %>


  </div>


<p>##############################</p>
<h6>Developer Control - ERASE FOR PRODUCTION</h6>

<p>Flat Id: <%= @flat.id %></p>



