<div class="banner booking-banner" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.6) 0%, rgba(240,240,240,0.6) 50%), url('<%= cl_image_path @flat.photo %>');">
<div class="booking-container">
  <h2 id="reservation">Edit reservation for:</h2>
  <div class="row">
    <div class="col-sm-6">
      <h1><%= @flat.name %></h1>
      <h4>Host Name: <%= @flat.user.email %></h4>
      <p>Description: <%= @flat.description %></p>
    </div>
    <br>
    <div class="col-sm-6">
      <%= render 'form', booking: @booking, flat: @flat, button_text: "Edit Booking"%>
      <h3>TOTAL_PRICE: </h3>
    </div>
  </div>
</div>
</div>
