<h1>Bookings#new</h1>

<h1>Booking for:</h1>

<h1>Flat Name: <%= @flat.name %></h1>
<h2>Host Name: <%= @flat.user.email %></h2>
<p>Description: <%= @flat.description %></p>


<%= simple_form_for [@flat, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit "Add new Booking", class: "btn btn-primary" %>
<% end %>


<h3>TOTAL_PRICE: #####JAVASCRIPT THING####%></h3>


