<h1>Bookings#new</h1>

<h1>Booking for:</h1>

<h1>Flat Name: <%= @flat.name %></h1>
<h1>Flat Id: <%= @flat.id %></h1>
<h2>Host Name: <%= @flat.user.email %></h2>
<p>Description: <%= @flat.description %></p>

<%= render 'form', booking: @booking, flat: @flat, button_text: "New Booking" %>

<h3>TOTAL_PRICE: #####JAVASCRIPT THING####%></h3>


