<%= render 'layouts/banner' %>
<br>
<br>
<div class="container">
  <div class="row">

    <% @flats.each do |flat| %>

    <div class="col-md-3">
        <%= link_to flat_path(flat) do %>
        <% if flat.photo.file == nil %>
      <div class="card" style="background-image: linear-gradient(rgba(255,255,255,0.3), rgba(220,220,220,0.3)), url('<%= asset_path("jungle_leaves.jpeg") %>')">
        <%  else %>
      <div class="card" style="background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('<%= cl_image_path flat.photo %>')">
        <% end %>
        <div class="card-category">
          <h3><%= flat.name %></h3>
        </div>
        <div class="card-description">
          <h2>$<%=flat.price %></h2>
          <p><%= flat.address %></p>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>

