<h1>My Flats & Bookings</h1>
<h1>Host: <%=@current_user.email  %></h1>

<% @my_flats.each do |flat| %>
<h3><%= flat.name %></h3>

<% flat.bookings.each do |booking|%>
<div class="booking">
  <img class="image-square" src="https://source.unsplash.com/200x200/?treehouse">
  <div class="booking-price">
    <p>Guest: <%= booking.user.email %></p>
  </div>
  <div class="booking-body">
    <h3><%= booking.flat.name %></h3>
    <h4><%= booking.flat.location %></h4>
    <p><%= booking.start_date %> - <%= booking.start_date %></p>
  </div>

  <div class="booking-status">
    <p class="status pending">Status: <%= booking.status %></p>

    <!-- BUTTON APROVED -->
    <%= simple_form_for [flat, booking] do |f| %>
    <%= f.hidden_field :status, value: "Aproved" %>
    <%= f.submit "Approve", class: "btn btn-primary" %>
    <% end %>
    <!-- BUTTON DECLINED -->
    <%= simple_form_for [flat, booking] do |f| %>
    <%= f.hidden_field :status, value: "Declined" %>
    <%= f.submit "Decline", class: "btn btn-danger" %>
    <% end %>


    <p class="price">Total price: <%= booking.total_price %></p>
  </div>
</div>
<% end %>
<% end %>
