<div class="container-dashboard">
    <h1 class="text-center">My Flats & Bookings</h1>

  <% @my_flats.each do |flat| %>
  <div class="flexed-items">
    <div class="half-items">
      <%= link_to flat_path(flat) do %>
      <div class="flat-card" style="background-image: linear-gradient(-225deg, rgba(200,200,200,0.6) 0%, rgba(150,150,150,0.6) 50%), url('<%= cl_image_path flat.photo%>');">
        <div class="flat-name">
          <h2><%= flat.name %></h2>
        </div>
        <div class="flat-location">
          <h4><%= flat.address %></h4>
        </div>
        <% end %>
      </div>
    </div>


      <div class="half-items">
        <h6>Bookings for this flat: <%= flat.bookings.count %> </h6>
        <hr>

       <div class="scroll-box">
        <% flat.bookings.each do |booking|%>
        <div class="booking" id="bookingcard">
          <img class="image-bordered" src="https://source.unsplash.com/200x200/?treehouse">
          <div class="booking-guest text-right">
            <p>Guest:</p>
            <hr>
            <p><%= booking.user.email %></p>
          </div>
          <div class="booking-body text-center">
            <h4><%= booking.flat.name %></h4>
            <p><%= booking.start_date %> - <%= booking.start_date %></p>
          </div>
          <div class="booking-status">
            <p>Status:</p><p class="status pending"> <%= booking.status %></p>

            <% if booking.status == "Pending" %>

            <%= link_to "Approve", booking_approve_path(booking), method: :patch, class: "btn btn-status btn-success" %>
            <%= link_to "Decline", booking_decline_path(booking), method: :patch, class: "btn btn-status btn-danger" %>

            <% end %>
            <p class="price">Total price: <%= booking.total_price %></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
    <% end %>
  </div>
</div>
