<h1>My Flats and bookings</h1>

<% @my_flats.each do |flat| %>
<h2><%= flat.name %></h2>
<ul>
<% flat.bookings.each do |booking|%>
<li><%= booking.total_price %></li>
<p><%= booking.status %></p>
<% end %>
</ul>
<% end %>

<h2>Booking requests:</h2>
<% @my_flats.each do %>
<% flat.bookings.each do |booking| %>
<% if booking.status == "Pending" %>
<p><%= booking.flat_id %></p>
<p><%= booking.status %></p>
<% end %>
<% end %>
<% end %>

