<h1>My Flats & Bookings</h1>

<% @my_flats.each do |flat| %>
<h3><%= flat.name %></h3>
<% flat.bookings.each do |booking|%>
<div class="booking">
  <img class="image-square" src="https://source.unsplash.com/200x200/?treehouse">
    <div class="booking-price">
    <h4><%= booking.flat.name %></h4>
    </div>
  <div class="booking-body">
    <h4>Guest: <%= booking.user.email %></h4>
    <p><%= booking.start_date %> - <%= booking.start_date %></p>
  </div>
  <div class="booking-status">
    <p class="status pending">Status: <%= booking.status %></p>

    <p class="price">Total price: <%= booking.total_price %></p>
  </div>
</div>
<% end %>
<% end %>
