<h1>My Flats & Bookings</h1>

<% @my_flats.each do |flat| %>
<h2><%= flat.name %></h2>
<% flat.bookings.each do |booking|%>
<div class="booking">
  <img class="image-square" src="https://source.unsplash.com/200x200/?treehouse">
    <div class="booking-price">
    <p>Guest: <%= booking.user.email %></p>
    </div>
  <div class="booking-body">
    <h3><%= booking.flat.name %></h3>
    <h2><%= booking.flat.location %></h2>
    <p><%= booking.start_date %> - <%= booking.start_date %></p>
  </div>
  <div class="booking-status">
    <p class="status pending">Status: <%= booking.status %></p>
    <p class="price">Total price: <%= booking.total_price %></p>
  </div>
</div>
<% end %>
<% end %>
