<div class="container-dashboard">
    <h1 class="text-center">My Flats & Bookings</h1>

  <% @my_flats.each do |flat| %>
  <div class="flexed-items">
    <div class="half-items">
      <div class="flat-card">
        <img class="image-flat" src="https://source.unsplash.com/200x200/?treehouse">
        <div class="flat-name">
          <h2><%= flat.name %></h2>
        </div>
        <div class="flat-location">
          <h4><%= flat.location %></h4>
        </div>
        <div class="flat-body">
          <h4>Number of bookings: <%= flat.bookings.count %></h4>
        </div>
      </div>
    </div>

      <div class="half-items scroll-box">
        <% flat.bookings.each do |booking|%>
        <div class="booking" id="bookingcard">
          <img class="image-bordered" src="https://source.unsplash.com/200x200/?treehouse">
          <div class="booking-guest">
            <p>Guest: <%= booking.user.email %></p>
          </div>
          <div class="booking-flat">
            <h4><%= booking.flat.name %></h4>

          </div>
          <div class="booking-body">
            <h4>Guest: <%= booking.user.email %></h4>
            <p><%= booking.start_date %> - <%= booking.start_date %></p>
          </div>
          <div class="booking-status">
            <p class="status pending">Status: <%= booking.status %></p>

            <% if booking.status == "Pending" %>

            <%= link_to "Approve", change_status_path, class: "btn btn-status btn-success" %>
            <%= link_to "Decline", change_status_decline_path, class: "btn btn-status btn-danger" %>

            <% end %>
            <p class="price">Total price: <%= booking.total_price %></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
