<div class="navbar-wagon">
  <!-- Logo -->
<div class="navbar-wagon-left">
    <a href="/" class="navbar-wagon-brand">
      <%=  image_tag "jungleicon.png"%>
    </a>
    <form action="/flats" method="GET">
      <input type="text" name="query" id="query" placeholder="Search.." class="glyphicon glyphicon-search input-search">
    </form>
</div>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <% if user_signed_in? %>
    <%= link_to "Add a House", new_flat_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "My Dashboard", dashboard_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% else %>
    <%= link_to "Login", new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>

    <!-- Profile picture with dropdown list -->
    <% if user_signed_in? %>
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <%= image_tag "woman.png", class:"avatar dropdown-toggle", id:"navbar-wagon-menu", data: {toggle: "dropdown"} %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">

          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li>
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
          </ul>
        </div>
      </div>
      <% end %>
    </div>

    <!-- Dropdown appearing on mobile only -->
    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
         <li><%= link_to "Add a flat", new_flat_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
         <li><%= link_to "My Upcoming Trips", my_trips_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
         <li><%= link_to "Host Dashboard", my_flats_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
       </ul>
     </div>
   </div>
 </div>
